%div
  %h1 マイスターのみなさんへ
  %p.slead
    1. 
    = link_to 'isketa.com', 'http://www.isketa.com/'
    にて、以下のフォームからアカウントを作成してください。
  %img{:src => "/assets/help1.png", :width => "389"}
  %br
  2.登録したアドレスにisketaからメールが届くので、”confirm your account”からアカウント登録を完了させてください。
  %br
  %img{:src => "/assets/help2.png", :width => "389"}
  %br
  3. ログインをして、New Projectを押してください
  %br
  %img{:src => "/assets/help3.png", :width => "389"}
  %br
  4. プロジェクトのディレクトリの名前と説明、公開レベルをPublicにしてCreate Projectを押してください。※配布されているコードや回路図のライセンスをご確認ください。ライセンスに引っかかる場合は、必ずprivateを選択するようにしてください。

  %br
  %img{:src => "/assets/help4.png", :width => "650"}
  %br
  5. 下図のような新しいプロジェクトの画面が現れます。
  %br
  %img{:src => "/assets/help5.png", :width => "650"}
  %br
  左メニューのFilesタブからファイルをアップロードすることができます。また、以下のアップロード規則を守ってください。
  %br  
  %h3 □フォルダのアップロード規則
  %br
  ・回路図のアップロード→circuitフォルダ
  %br
  ・3Dデータのアップロード→modelフォルダ
  %br
  ・写真や動画→mediaフォルダ
  %br
  ・プロジェクトのコード→codesフォルダ
  %br
  %img{:src => "/assets/help7.png", :width => "650"}
  %br
  %br
  %br
  ファイルのアップロードには2種類の方法があります。
  %br
  %h3 [ドラック＆ドロップでアップロードする]
  %br
  左メニューのファイルタブをクリックし、上方にあるドラックフィールドにアップロードするファイルをドラックしてください。コミットメッセージを書いたら、upload fileボタンでアップロードすることができます。
  %br
  %img{:src => "/assets/help6.png", :width => "800"}
  %br
  %br
  %br
  %h3 [git管理下でアップロードする]
  %br
  %h1
    GitLab
    Community Edition
    - if user_signed_in?
      %span= Gitlab::VERSION
      %small= Gitlab::REVISION
      = version_status_badge
  %p.slead
    GitLab is open source software to collaborate on code.
    %br
    Manage git repositories with fine-grained access controls that keep your code secure.
    %br
    Perform code reviews and enhance collaboration with merge requests.
    %br
    Each project can also have an issue tracker and a wiki.
    %br
    Used by more than 100,000 organizations, GitLab is the most popular solution to manage git repositories on-premises.
    %br
    Read more about GitLab at #{link_to promo_host, promo_url, target: '_blank'}.
    - if current_application_settings.help_page_text.present?
      %hr
      = markdown(current_application_settings.help_page_text)

%hr

.row
  .col-md-8
    .documentation-index
      = preserve do
        = markdown(@help_index)
  .col-md-4
    .panel.panel-default
      .panel-heading
        Quick help
      %ul.well-list
        %li= link_to 'See our website for getting help', promo_url + '/getting-help/'
        %li= link_to 'Use the search bar on the top of this page', '#', onclick: 'Shortcuts.focusSearch(event)'
        %li= link_to 'Use shortcuts', '#', onclick: 'Shortcuts.showHelp(event)'
        %li= link_to 'Get a support subscription', 'https://about.gitlab.com/pricing/'
        %li= link_to 'Compare GitLab editions', 'https://about.gitlab.com/features/#compare'
