%dev
  %h1 マイスターのみなさんへ
  %p.slead
  1. isketa.comにて、以下のフォームからアカウントを作成してください。
  %br
  %img{:src => "/assets/help1.png", :width => "389"}
  %br
  2.登録したアドレスにisketaからメールが届くので、”confirm your account”からアカウント登録を完了させてください。
  %br
  %img{:src => "/assets/help2.png", :width => "389"}
  %br
  3. ログインをして、New Projectを押してください
  %br
  %img{:src => "/assets/help3.png", :width => "389"}
  %br
  4. プロジェクトのディレクトリの名前と説明、公開レベルをPublicにしてCreate Projectを押してください。※配布されているコードや回路図のライセンスをご確認ください。ライセンスに引っかかる場合は、必ずprivateを選択するようにしてください。

  %br
  %img{:src => "/assets/help4.png", :width => "650"}
  %br
  5. 下図のような新しいプロジェクトの画面が現れます。
  %br
  %img{:src => "/assets/help5.png", :width => "650"}
  %br
  左メニューのFilesタブからファイルをアップロードすることができます。また、以下のアップロード規則を守ってください。
  %br  
  %h3 □フォルダのアップロード規則
  %br
  ・回路図のアップロード→circuitフォルダ
  %br
  ・3Dデータのアップロード→modelフォルダ
  %br
  ・写真や動画→mediaフォルダ
  %br
  ・プロジェクトのコード→codesフォルダ
  %br
  %img{:src => "/assets/help7.png", :width => "650"}
  %br
  %br
  %br
  ファイルのアップロードには2種類の方法があります。
  %br
  %h3 [ドラック＆ドロップでアップロードする]
  %br
  左メニューのファイルタブをクリックし、上方にあるドラックフィールドにアップロードするファイルをドラックしてください。コミットメッセージを書いたら、upload fileボタンでアップロードすることができます。
  %br
  %img{:src => "/assets/help6.png", :width => "800"}
  %br
  %br
  %br
  %h3 [git管理下でアップロードする]
  %br
  %fieldset
    %h5 Git global setup
    %pre.light-well
      :preserve
        git config --global user.name Administrator
        git config --global user.email admin@example.com

  %fieldset
    %h5 Create a new repository
    %pre.light-well
      :preserve
        git clone http://isketa.com/root/~~~.git
        cd ~~~
        touch README.md
        git add README.md
        git commit -m "add README"
        git push -u origin master

  %fieldset
    %h5 Existing folder or Git repository
    %pre.light-well
      :preserve
        cd existing_folder
        git init
        git remote add origin 
        git add .
        git commit
        git push -u origin master
  %br
  %h3 □注意事項
  %br
  ・回路図をサイト内で閲覧できるのはPDFのみです。回路図をPDFに書き出してアップロードしてください。
  %br
  ・3Dデータをサイト内で閲覧できるのはSTLのみです。3DデータをSTLファイルに書き出してアップロードしてください。