.gray-content-block.top-block
  This information will appear on your profile.
  - if current_user.ldap_user?
    Some options are unavailable for LDAP accounts

.prepend-top-default
= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: "edit_user form-horizontal" }, authenticity_token: true do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-7
      .form-group
        = f.label :name, class: "control-label"
        .col-sm-10
          = f.text_field :name, class: "form-control", required: true
          %span.help-block Enter your name, so people you know can recognize you.

      .form-group
        = f.label :email, class: "control-label"
        .col-sm-10
          - if @user.ldap_user? && @user.ldap_email?
            = f.text_field :email, class: "form-control", required: true, readonly: true
            %span.help-block.light
              Your email address was automatically set based on the LDAP server.
          - else
            - if @user.temp_oauth_email?
              = f.text_field :email, class: "form-control", required: true, value: nil
            - else
              = f.text_field :email, class: "form-control", required: true
            - if @user.unconfirmed_email.present?
              %span.help-block
                Please click the link in the confirmation email before continuing. It was sent to
                = succeed "." do
                  %strong #{@user.unconfirmed_email}
                %p
                = link_to "Resend confirmation e-mail", user_confirmation_path(user: { email: @user.unconfirmed_email }), method: :post

            - else
              %span.help-block We also use email for avatar detection if no avatar is uploaded.
      .form-group
        = f.label :public_email, class: "control-label"
        .col-sm-10
          = f.select :public_email, options_for_select(@user.all_emails, selected: @user.public_email), {include_blank: 'Do not show on profile'}, class: "select2"
          %span.help-block This email will be displayed on your public profile.
      .form-group
        = f.label :skype, class: "control-label"
        .col-sm-10= f.text_field :skype, class: "form-control"
      .form-group
        = f.label :linkedin, class: "control-label"
        .col-sm-10= f.text_field :linkedin, class: "form-control"
      .form-group
        = f.label :twitter, class: "control-label"
        .col-sm-10= f.text_field :twitter, class: "form-control"
      .form-group
        = f.label :website_url, 'Website', class: "control-label"
        .col-sm-10= f.text_field :website_url, class: "form-control"
      .form-group
        = f.label :location, 'Location', class: "control-label"
        .col-sm-10= f.text_field :location, class: "form-control"
      .form-group
        = f.label :bio, class: "control-label"
        .col-sm-10
          = f.text_area :bio, rows: 4, class: "form-control", maxlength: 250
          %span.help-block Tell us about yourself in fewer than 250 characters.

    .col-md-5
      .light-well
        = image_tag avatar_icon(@user, 160), alt: '', class: 'avatar s160'

        .clearfix
          .profile-avatar-form-option
            %p.light
              - if @user.avatar?
                You can change your avatar here
                - if Gitlab.config.gravatar.enabled
                  %br
                  or remove the current avatar to revert to #{link_to Gitlab.config.gravatar.host, "http://" + Gitlab.config.gravatar.host}
              - else
                You can upload an avatar here
                - if Gitlab.config.gravatar.enabled
                  %br
                  or change it at #{link_to Gitlab.config.gravatar.host, "http://" + Gitlab.config.gravatar.host}
            %hr
            %a.choose-btn.btn.btn-sm.js-choose-user-avatar-button
              %i.fa.fa-paperclip
              %span Choose File ...
            &nbsp;
            %span.file_name.js-avatar-filename File name...
            = f.file_field :avatar, class: "js-user-avatar-input hidden"
            .light The maximum file size allowed is 2MB.
            - if @user.avatar?
              %hr
              = link_to 'Remove avatar', profile_avatar_path, data: { confirm: "Avatar will be removed. Are you sure?"}, method: :delete, class: "btn btn-remove btn-sm remove-avatar"


  .form-actions
    = f.submit 'Save changes', class: "btn btn-success"
    = link_to "Cancel", user_path(current_user), class: "btn btn-cancel"
