.project_holder
  - mobile = (request.user_agent.include?('Mobile') || request.user_agent.include?('Android'))? true : false
  - projects.each_slice(mobile ? 1 : 4) do |row_projects|
    %ul.project_lists
      - row_projects.each do |project|
        %li.project_box
          %a.project_link{:href => project_path(project)}
            .project_mainbox
              .image_box
                = project_icon(project, alt: '', class: 'project_image')
              .project_text
                .project_title
                  = project.name
                .project_description
                  = project.description
            .project_subbox
              .project_info
                .project_star
                  = image_tag 'gallery/star.png', class: 'project_star_icon'
                  = project.star_count
                .project_commit
                  = image_tag 'gallery/message.png', class: 'project_commit_icon'
                  = project.commit_count
:css
  .project_box{
    width: #{mobile ? 80 : 20}%
  }
:javascript
  var resize_project = function(){
    console.log('setpos');
    var base = $('.image_box').width();
    //image_box css
    $('.image_box').height(base);
    //project_image css
    $('.project_image').each(function(){
      var p = $(this).height() / $(this).width();
      if(p < 1.0){
        $(this).height(base);
        $(this).width(base/p);
        $(this).css('left',-(((base/p)-base)/2));
      }else{
        $(this).css('top',-(((base*p)-base)/2));
      }
    });
  }
  $(window).resize(resize_project);
  $(window).load(resize_project);
  $(document).on('page:load',resize_project);
  $(".project_box").mouseover(function(){
    $(this).css('box-shadow','0px 0px 3px');
  }).mouseout(function(){
    $(this).css('box-shadow','');
  });
