.avatar {
  float: left;
  margin-right: 12px;
  padding: 0;
  @include border-radius($avatar_radius);

  &.avatar-inline {
    float: none;
    margin-left: 4px;
    margin-bottom: 2px;

    &.s16 { margin-right: 4px; }
    &.s24 { margin-right: 4px; }
  }

  &.group-avatar, &.project-avatar, &.avatar-tile {
    @include border-radius(0px);
  }

  &.s16 { width: auto; height: auto; max-width: 16px; max-height: 16px; margin-right: 6px; }
  &.s24 { width: auto; height: auto; max-width: 24px; max-height: 24px; margin-right: 8px; }
  &.s26 { width: auto; height: auto; max-width: 26px; max-height: 26px; margin-right: 8px; }
  &.s32 { width: auto; height: auto; max-width: 32px; max-height: 32px; margin-right: 10px; }
  &.s36 { width: auto; height: auto; max-width: 36px; max-height: 36px; margin-right: 10px; }
  &.s46 { width: auto; height: auto; max-width: 46px; max-height: 46px; margin-right: 15px; }
  &.s48 { width: auto; height: auto; max-width: 48px; max-height: 48px; margin-right: 10px; }
  &.s60 { width: auto; height: auto; max-width: 60px; max-height: 60px; margin-right: 12px; }
  &.s90 { width: auto; height: auto; max-width: 90px; max-height: 90px; margin-right: 15px; }
  &.s110 { width: auto; height: auto; max-width: 110px; max-height: 110px; margin-right: 15px; }
  &.s140 { width: auto; height: auto; max-width: 140px; max-height: 140px; margin-right: 20px; }
  &.s160 { width: auto; height: auto; max-width: 160px; max-height: 160px; margin-right: 20px; }
  &.s480 { width: auto; height: auto; max-width: 480px; max-height: 480px; margin-right: 20px; }
}

.identicon {
  text-align: center;
  vertical-align: top;

  &.s16 { font-size: 12px; line-height: 1.33; }
  &.s24 { font-size: 14px; line-height: 1.8; }
  &.s26 { font-size: 20px; line-height: 1.33; }
  &.s32 { font-size: 22px; line-height: 32px; }
  &.s60 { font-size: 32px; line-height: 60px; }
  &.s90 { font-size: 36px; line-height: 90px; }
  &.s110 { font-size: 40px; line-height: 112px; font-weight: 300; }
  &.s140 { font-size: 72px; line-height: 140px; }
  &.s160 { font-size: 96px; line-height: 160px; }
  &.s480 { font-size: 96px; line-height: 480px; }
}
