.nav-block
  .tree-ref-holder
    = render 'shared/ref_switcher', destination: 'blob', path: @path

  %ul.breadcrumb.repo-breadcrumb
    %li
      = link_to namespace_project_tree_path(@project.namespace, @project, @ref) do
        = @project.path
    - tree_breadcrumbs(@tree, 6) do |title, path|
      %li
        - if path
          - if path.end_with?(@path)
            = link_to namespace_project_blob_path(@project.namespace, @project, path) do
              %strong
                = truncate(title, length: 40)
          - else
            = link_to truncate(title, length: 40), namespace_project_tree_path(@project.namespace, @project, path)
        - else
          = link_to title, '#'

%ul.blob-commit-info.hidden-xs
  - blob_commit = @repository.last_commit_for_path(@commit.id, blob.path)
  = render blob_commit, project: @project

%div#blob-content-holder.blob-content-holder
  %article.file-holder
    .file-title
      = blob_icon blob.mode, blob.name
      %strong
        = blob.name
      %small
        = number_to_human_size(blob_size(blob))
      .file-actions.hidden-xs
        = render "actions"

    - if blob.lfs_pointer?
      = render "download", blob: blob
    - elsif blob.text?
      = render "text", blob: blob
    - elsif blob.image?
      = render "image", blob: blob
    - elsif File.extname(blob.name).downcase == ".pdf"
      = render "pdf", blob: blob
    - elsif File.extname(blob.name).downcase == ".stl"
      = render "stl", blob: blob
    - else
      = render "download", blob: blob
