.file-content.pdf_file
%meta{:charset => "UTF-8"}/
= stylesheet_link_tag "pdfviewer", :media => "all"
%div{:style => "position:relative;text-align:left"}
  %input{:onclick => "expClick();",  :type => "button", :value => "+" , :class => "btn btn-info"}/
  %input{:onclick => "redClick();",  :type => "button", :value => "-" , :class => "btn btn-info"}/
  %input{:onclick => "resetClick();",:type => "button", :value => "reset", :class => "btn btn-info"}/
#container
  %canvas#the-canvas{:style => "border:1px solid white"}

  = javascript_include_tag 'add/pdf'
  = javascript_include_tag 'add/grab-to-pan'

:javascript
  PDFJS.workerSrc = '#{asset_path('add/pdf.worker.js')}';
  var url = "#{namespace_project_raw_path(@project.namespace, @project, @id)}";
  var pdfDoc = null,
      pageNum = 1,
      scale,
      defaultscale,
      canvas = document.getElementById('the-canvas'),
      ctx = canvas.getContext('2d'),
      container = document.getElementById('container'),
      flug = 0;
  var g2p = new GrabToPan({
      element: container,        // required
      onActiveChanged: function(isActive) { // optional
          if (window.console) { // IE doesn't define console unless the devtools are open
              console.log('Grab-to-pan is ' + (isActive ? 'activated' : 'deactivated'));
          }
      }
  });
  g2p.activate();
  function renderPage(num) {
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function (page) {
          if(flug == 0){
              viewport = page.getViewport(1)
              scale =  container.offsetWidth / viewport.width;
              defaultscale = scale
              flug = 1;
          }
          viewport = page.getViewport(scale)
          canvas.height = viewport.height;
          canvas.width = viewport.width;
              // Render PDF page into canvas context
              var renderContext = {
                  canvasContext: ctx,
                  viewport: viewport
              };
          page.render(renderContext);
      });
  }

  PDFJS.getDocument(url).then(function getPdfHelloWorld(_pdfDoc) {
      pdfDoc = _pdfDoc;
      renderPage(pageNum);
  });

  function expClick(){
      scale = scale + 0.25
      renderPage(pageNum);
  }

  function redClick(){
      if (scale < 0.25) return;
      scale = scale - 0.25;
      renderPage(pageNum,scale);
  }

  function resetClick(){
    scale = defaultscale;
    renderPage(pageNum,scale);
  }
