#stage{:style => "position:relative;"}
  = javascript_include_tag "add/three.js","add/OrbitControls.js","add/STLLoader.js"
  %div{:onClick => "changeProperty()", :style => "position:absolute;", :type => "button", :class => "btn btn-info"}
    %div{:style => "color:white"} change 
:javascript
  var hoeg = document.getElementById('stage');
  var width  = hoeg.offsetWidth;
  var height = 400;
  // scene
  var scene = new THREE.Scene();
  //camera target
  var cameraTarget = new THREE.Vector3( 0, 0, 0 );


  //loder
  var loader = new THREE.STLLoader();
  var material = new THREE.MeshPhongMaterial( { color: 0x399bdc, specular: 0x111111, wireframe:true} );
  loader.load("#{namespace_project_raw_path(@project.namespace, @project, @id)}", function ( geometry ) {

    var meshMaterial = material;
    if (geometry.hasColors) {
      meshMaterial = new THREE.MeshPhongMaterial({ opacity: geometry.alpha, vertexColors: THREE.VertexColors });
    }

    var mesh = new THREE.Mesh( geometry, meshMaterial );

    var hoge = new THREE.Vector3();
    hoge.setFromMatrixPosition( mesh.matrixWorld );

    var box  = new THREE.Box3().setFromObject(mesh);
    mesh.position.set(10*-box.max.x/2,10*-box.max.y/2,10*-box.max.z/2);
    var setscale = (100*10)/Math.max(box.max.x,box.max.y,box.max.z);
    mesh.scale.set( setscale, setscale, setscale);

    mesh.rotation.set(-Math.PI/2,0,0);

    mesh.castShadow = true;
    mesh.receiveShadow = true;

    scene.add( mesh );
  } );
  // light
  var light = new THREE.DirectionalLight(0xffffff,1);
  light.position.set(0,100,30);
  light.castShadow = true;
  scene.add(light);
  var ambient = new THREE.AmbientLight(0x550000);
  scene.add(ambient);

  // camera
  var camera = new THREE.PerspectiveCamera(45,width/height,1,10000);
  camera.position.set(1000,1000,1000);
  camera.lookAt(cameraTarget);

  //helper
  var axis = new THREE.AxisHelper(1000);
  axis.position.set(0,0,0);
  scene.add(axis);

  //GridHelper(大きさ, １マスの大きさ)
  var grid = new THREE.GridHelper(1000, 150);
  scene.add(grid);

  //rendering
  var renderer = new THREE.WebGLRenderer();
  renderer.setSize(width, height);
  renderer.setClearColor(0xeeeeee, 1);
  renderer.shadowMapEnabled = true;
  document.getElementById('stage').appendChild(renderer.domElement);
  renderer.render(scene,camera);

  //control
  var controls = new THREE.OrbitControls(camera,renderer.domElement)

  function render() {
    requestAnimationFrame(render);
    renderer.render(scene,camera);
    controls.update();
  }
  render();


  function changeProperty() {
    if(material.wireframe)
    {
      material.wireframe = false;
    }
    else
    {
      material.wireframe = true;
    }
    render();
  }
