- project = project || @project

.git-clone-holder.input-group
  = text_field_tag :project_clone, @project.http_url_to_repo, class: "js-select-on-focus form-control", readonly: true
  .input-group-btn
    = clipboard_button(clipboard_target: '#project_clone')
