- @no_container = true

- if can?(current_user, :download_code, @project)
  %h3.page-title-empty
    Command line instructions
  %div.git-empty
    %fieldset
      %h5 Git global setup
      %pre.light-well
        :preserve
          git config --global user.name "#{h git_user_name}"
          git config --global user.email "#{h git_user_email}"

    %fieldset
      %h5 Create a new repository
      %pre.light-well
        :preserve
          git clone #{ content_tag(:span, default_url_to_repo, class: 'clone')}
          cd #{h @project.path}
          touch README.md
          git add README.md
          git commit -m "add README"
          git push -u origin master

    %fieldset
      %h5 Existing folder or Git repository
      %pre.light-well
        :preserve
          cd existing_folder
          git init
          git remote add origin #{ content_tag(:span, default_url_to_repo, class: 'clone')}
          git add .
          git commit
          git push -u origin master

      - if can? current_user, :remove_project, @project
        .prepend-top-20
          = link_to 'Remove project', [@project.namespace.becomes(Namespace), @project], data: { confirm: remove_project_message(@project)}, method: :delete, class: "btn btn-remove pull-right"

