- if readme = @repository.readme
  %article.readme-holder
    .pull-right
      - if can?(current_user, :push_code, @project)
        = link_to icon('pencil'), namespace_project_edit_blob_path(@project.namespace, @project, tree_join(@repository.root_ref, readme.name)), class: 'light edit-project-readme'
    .file-content.wiki
      = cache(readme_cache_key) do
        = render_readme(readme)
- else
  .gray-content-block.second-block.center 
    %h3.page-title
      This project does not have README yet
    - if can?(current_user, :push_code, @project)
      %p
        A
        %code README
        file contains information about other files in a repository and is commonly
        distributed with computer software, forming part of its documentation.
      %p
        We recommend you to
        = link_to "add README", new_readme_path, class: 'underlined-link'
        file to the repository and GitLab will render it here instead of this message.
    %h3.page-title The explanation of a directory
    %img{:height => "357", :src => "http://isketa.com/assets/descFolders.png", :width => "389"}/
    .file-content.empty
    = render "empty"
