%div.tree-content-holder
  .table-holder
    %table.table#tree-slider{class: "table_#{@hex_path} tree-table" }
      %thead
        %tr
          %th Name
          %th Last Update
          %th.hidden-xs
            .pull-left Last Commit
            .last-commit.hidden-sm.pull-left
              &nbsp;
              %i.fa.fa-angle-right
              &nbsp;
              %small.light
                = link_to @commit.short_id, namespace_project_commit_path(@project.namespace, @project, @commit), class: "monospace"
                &ndash;
                = truncate(@commit.title, length: 50)
            = link_to 'History', namespace_project_commits_path(@project.namespace, @project, @id), class: 'pull-right'

      - if @path.present?
        %tr.tree-item
          %td.tree-item-file-name
            = link_to "..", namespace_project_tree_path(@project.namespace, @project, up_dir_path), class: 'prepend-left-10'
          %td
          %td.hidden-xs

      = render_tree(tree)

  - if tree.readme
    = render "projects/tree/readme", readme: tree.readme

- if can_edit_tree?
  = render 'projects/blob/new_dir'

:javascript
  // Load last commit log for each file in tree
  $('#tree-slider').waitForImages(function() {
    ajaxGet("#{escape_javascript(@logs_path)}");
  });
