@charset"UTF-8";
body{
    background-color: white;
}
a {
  text-decoration: none;
}
.project_lists{
    list-style: none;
    float:none;
}
#before{
    position: absolute;
    top:100%;
    left:100%;
}
.project_box{
    background-color: white;
    border-radius: 10px;
    display:inline-block;
    margin: 5% 2%;
}
.project_link{
    height: 100%;
    width: 100%;
    text-decoration: none !important;
}
.project_mainbox div{
    background-color: whitesmoke;
    width:100%;
}
.project_subbox div{
    background-color: whitesmoke;
}
.image_box{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.project_image{
    position: relative;
    width: 100%;
}
.project_text{
    height: 40%;
}
.project_title{
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    color:black;
    height:50px;
    font-size: 15pt;
}
.project_description{
    padding: 10px;
    word-break:break-all;
    overflow: hidden;
    color:silver;
    height:80px;
    font-size: 15px;
}
.project_info{
    width:100%;
    color: black;
    text-overflow: ellipsis;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 10%;
    overflow: hidden;
}
.project_star{
    display: inline-block;
    float:right;
}
.project_commit{
    display: inline-block;
    float:right;
}
.project_star_icon{
    width: 1.2em;
    height: 1.2em;
}
.project_commit_icon{
    width: 1.2em;
    height: 1.2em;
}
