.page-with-sidebar{ class: page_sidebar_class }
  = render "layouts/broadcast"
  .sidebar-wrapper.nicescroll{ class: nav_sidebar_class }
    .header-logo
      = link_to root_path, class: 'home', title: 'Dashboard', id: 'js-shortcuts-home' do
        = brand_header_logo
        .gitlab-text-container
          %h3 isketa

    - if defined?(sidebar) && sidebar
      = render "layouts/nav/#{sidebar}"
    - elsif current_user
      = render 'layouts/nav/dashboard'
    - else
      = render 'layouts/nav/explore'

    .collapse-nav
      = render partial: 'layouts/collapse_button'
    - if current_user
      = link_to current_user, class: 'sidebar-user', title: "Profile" do
        = image_tag avatar_icon(current_user, 60), alt: 'Profile', class: 'avatar avatar s36'
        .username
          = current_user.username
  .content-wrapper
    = render "layouts/flash"
    = yield :flash_message
    %div{ class: (container_class unless @no_container) }
      .content
        .clearfix
          = yield
