!!! 5
- mobile = (request.user_agent.include?('Mobile') || request.user_agent.include?('Android'))? true : false
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_charcoal.login-page.application.navless
    - @projects = ProjectsFinder.new.execute().sort_by(&:star_count).reverse
    = render "layouts/header/empty"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        .alert.alert-success
          = link_to 'マイスターのみなさんへ', help_meister_path
        = render "layouts/flash"
        .row
          .col-sm-5.pull-right
            = yield
          .col-sm-7.brand-holder.pull-left
            - if extra_sign_in_text.present?
              = markdown(extra_sign_in_text)
            - if !mobile
              .flexslider
                %ul.slides
                  - @projects.each_with_index do |project,i|
                    %li
                      %a.project_link{:href => project_path(project)}
                        = project_icon(project, class: 'flex_image')
                        - if i >= 5
                          - break
    %h1.popular-text
      POPULAR
    .project-holder
      = render 'shared/projects/list',projects: @projects
    %hr
    .container
      .footer-links
        = link_to "Explore", explore_root_path
        = link_to "Help", help_path
        = link_to "About isketa", "https://twitter.com/isketaJP"

:javascript
  function setpos(){
    var base = $('.flex-viewport').width();
    var height_size = $('.pull-right').height();
    var ratio = height_size / base;
    //image_box css
    $('.flex-viewport').height(base*ratio);
    //project_image css
    $('.flex_image').each(function(){
      var p = $(this).height() / $(this).width();
      if(p < ratio){
        //yokonaga
        //hamidasi te simau
        //$(this).height(base*ratio);
        //$(this).width((base*ratio)/p);
        //$(this).css('left',-((((base*ratio)/p)-base)/2));
        $(this).css('top',((height_size-$(this).height())/2));
      }else{
        //tatenaga
        $(this).css('top',-(((base*p)-base*ratio)/2));
      }
    });
  }
  var ready;
  ready = function(){
    $('.flexslider').flexslider({
      animation: 'slide',
      prevText: '',
      nextText: ''
    });
    //flexslider is timeout 100ms.
    $(this).delay(110).queue(function() {
      setpos();
      $(this).dequeue();
    });
  };
  $(document).ready(ready);
  $(document).on('page:load',ready);
  $(window).resize(function(){
    //gitlab is set layout few minitute.
    $(this).delay(10).queue(function() {
      setpos();
      $(this).dequeue();
    });
  });
